/* NOTE -- that this CSS library uses reset.css for this library. It is included in the lines below this comment. If you would like to take it out, take out lines 1-50. */
 /*http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*END RESET.CSS FILE*/



/*TYPOGRAPHY
----- this is for the paragraph and smaller text
font-family: 'Lato', sans-serif;
----- this is for the headings and titles on the page
font-family: 'Oswald', sans-serif;
*/

/*HEADINGS*/
h1 {
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: .1em;
}
h2 {
  font-size: 4em;
}

h3 {
  font-size: 3em;
}
h4 {
  font-size: 2.5em;
}
h5 {
  font-size: 2em;
}
h6 {
  font-size: 1.5em;
}
h1, h2, h3, h4, h5, h6  {
  margin: auto;
  width: 85%;
  font-weight: 700;
  line-height: 1.5em;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}


p, a {
  line-height: 1.5em;
  width: 75%;
  margin: 1em auto;
  font-family: 'Lato', sans-serif;
}

blockquote {
  font-family: 'Old Standard TT', serif;
  width: 50%;
  line-height: 2em;
  margin: 2em auto;
  padding: 1em 2em;
  font-style: italic;
  font-size: 1.2em;
  font-weight: 500;
}

ul, ol {
  line-height: 2em;
  width: 70%;
  margin: 1em auto;
  font-family: 'Old Standard TT', serif;
}

li {
    list-style-type: square;
    line-height: 1.5em;
    margin-left: 2em;
    font-family: 'Old Standard TT', serif;
}

nav {
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: #252528;
  color: white;
}
.navLinkDiv {
  display: flex;
  color: white;
}
.navLink {
  display: inline-flex;
  margin: 1em;
  width: 75px;
  text-align: center;
  color: white;
  transition: all 1s ease;
}
.navLink:hover {
  background-color: #252528;
  padding: 0em 1em;
  box-shadow:
    1px 1px #D5DDE4,
    2px 2px #D5DDE4,
    3px 3px #D5DDE4;
}


.logoDiv {
  display: flex;
}
.logo {
  height: 100px;
  width: 100px;
  display: inline-block;
  float: left;
}

header {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 500px;
  background-image: url(background_img.jpeg);
  background-size: 1500px;
  background-position: center;
  background-repeat: no-repeat;
}

.header_text {
  color: white;
  margin: auto;
}


a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: white;
}
a:hover {
  color: white;
}
a:visited {
  color: #57817C;
}
.content_body {
  display: flex;
  width: 100%;
}
.content_left {
  flex: 2;
}
.content_center {
  flex: 8;
  background-color: #1A3942;
}

.section_container {
  background-color: #D5DDE4;
  width: 110%;
  margin: 3em 2em;
  box-shadow: 10px 10px 15px #252528;
  padding: 1em;
}

.content_right {
  flex: 2;
}
.grid {
  height: auto;
  margin: 5px;
  padding: 5px;
  bottom: 0;
}
.grid4 {
  width: 33.33%;
  min-height: 200px;
  float: left;
  padding: 1em;
  box-sizing: border-box;
}
.grid2 {
  width: 16.66%;
  float: left;
  box-sizing: border-box;
  min-height: 40px;
}

footer a {
  color: white;
}
footer {
  margin: auto;
  padding: 1em;
  text-align: center;
  font-family: 'Old Standard TT', serif;
  height: inherit;
  align-items: center;
  justify-content: space-between;
  height: 580px;
  background-color: #252528;
  color: white;
  bottom: 0;
}

table {
  padding: 1em;
  width: 90%;
  margin: 3em;
}

tr, tbody, td {
  margin: 1em;
  line-height: 1.5em;
  border: solid 1px black;
}

table td {
  padding: .2em;
  border: solid 1px black;
  font-family: 'Old Standard TT', serif;
}
th {
  font-size: 1.5em;
  text-transform: uppercase;
  line-height: 1.5em;
  border: solid 1px black;
}


label {
  line-height: 2em;
  font-family: sans-serif;
}

input {
  margin: 1em;
}
legend {
  font-size: 2.5em;
  line-height: 2em;
}
 form {
   width: 70%;
   margin: auto;
   padding: 1em;
   border: solid 1px black;
 }
.button {
  font-size: 16px;
  border: none;
  color: white;
  padding: 2em;
  background-color: #252528;
  display: inline-flex;
  align-items: center;
  text-align: center;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 5px;
	margin: 1em;
}
.button:hover {
  background-color: #D5DDE4;
}


/*TABLET VERSION <768PX*/
@media (max-width: 768px) {
	.section_container {
		width: 105%;
		 box-shadow: 7px 7px 10px #252528;
	}
	blockquote {
	  font-family: 'Old Standard TT', serif;
	  width: 60%;
	  line-height: 1.5em;
	  margin: 1.5em auto;
	  padding: 1em 2em;
	  font-style: italic;
	  font-size: 1.2em;
	  font-weight: 500;
	}
	h1 {
	  font-size: 4.5em;
	  text-transform: uppercase;
	  letter-spacing: .1em;
	}
	h2 {
	  font-size: 3.75em;
	}

	h3 {
	  font-size: 3em;
	}
	h4 {
	  font-size: 2.5em;
	}
	h5 {
	  font-size: 2em;
	}
	h6 {
	  font-size: 1.5em;
	}
	h1, h2, h3, h4, h5, h6  {
	  margin: auto;
	  width: 85%;
	  font-weight: 700;
	  line-height: 1.5em;
	  font-family: 'Oswald', sans-serif;
	  text-transform: uppercase;
	}
	/*CONTENT_BODY LAYOUT*/
	.section_container {
	  background-color: #D5DDE4;
	  width: 105%;
	  margin: 2em 1em;
	  box-shadow: 7px 7px 10px #252528;
	  padding: .5em;
	}

	.content_left, .content_right {
	  display: none;
		}
	.content_center {
	  background-color: #1A3942;
		max-width: 80%;
		margin-left: 10%;
		}
}

/*MOBILE VERSION <320PX*/
@media (max-width: 414px) {
	/*NAV BAR LAYOUT*/
	nav {
	  align-items: center;
	  display: flex;
	  text-align: center;
	  justify-content: space-between;
	  position: fixed;
	  width: 100%;
	  background-color: #252528;
	  color: white;
	}
	.navLinkDiv {
	  display: flex;
	  color: white;
	}
	.navLink {
	  display: inline-flex;
		flex-direction: column;
	  width: 30px;
	  text-align: center;
	  color: white;
		font-size: 80%;
	}
	.navLinkDiv a {
		margin: auto;
	}
	.logoDiv {
	  display: flex;
	}
	.logo {
	  height: 65px;
	  width: 65px;
	  display: inline-block;
	  float: left;
	}
	.navLink:hover {
	  display: none;
	}
	/*HEADER LAYOUT*/
	header {
	  margin: auto;
	  display: flex;
	  flex-direction: column;
	  text-align: center;
	  width: inherit;
	  height: 350px;
	  background-image: url(background_img.jpeg);
	  background-size: 550px;
	  background-position: center;
	  background-repeat: no-repeat;
	}
	.header_text {
		font-size: 100%;
		width: 100%;
		margin: auto;
	}

	/*CONTENT_BODY LAYOUT*/
	.section_container {
	  background-color: #D5DDE4;
	  width: 95%;
	  margin: 1em .67em;
	  box-shadow: 5px 5px 7px #252528;
	  padding: .5em;
	}

	.content_left, .content_right {
	  display: none;
		}
	.content_center {
	  background-color: #1A3942;
		max-width: 80%;
		margin-left: 10%;
		}
	/*CONTENT TYPOGRAPHY*/
	blockquote {
		font-family: 'Old Standard TT', serif;
		width: 60%;
		line-height: 1.2em;
		margin: 1.2em auto;
		padding: .5em 1em;
		font-style: italic;
		font-size: 80%;
		font-weight: 500;
	}
	h1, h2, h3, h4, h5, h6  {
		margin: auto;
		width: 85%;
		font-weight: 600;
		line-height: 1.2em;
		font-family: 'Oswald', sans-serif;
		text-transform: uppercase;
	}
	p {
		font-size: 80%;
	}
	h1 {
		font-size: 150%;
		text-transform: uppercase;
		letter-spacing: .1em;
	}
	h2 {
		font-size: 140%;
	}

	h3 {
		font-size: 130%;
	}
	h4 {
		font-size: 120%;
	}
	h5 {
		font-size: 110%;
	}
	h6 {
		font-size: 100%;
	}
	/*GRID LAYOUT IN THE FOOTER*/
	.grid {
	  height: auto;
	  margin: .5em;
	  bottom: 0;
	}
	.grid4 {
	  width: 100%;
	  min-height: 100px;
	  float: left;
	  padding: .5em;
	  box-sizing: border-box;
	}
	.grid2 {
	  width: 33.33%;
	  float: left;
	  box-sizing: border-box;
	  min-height: 40px;
	}
	footer a {
	  color: white;
	}
	footer {
	  margin: auto;
	  padding: 1em;
	  text-align: center;
	  font-family: 'Old Standard TT', serif;
	  height: inherit;
	  align-items: center;
	  justify-content: space-between;
	  height: 750px;
	  background-color: #252528;
	  color: white;
	  bottom: 0;
	}
	/*FORM LAYOUT*/
	label {
	  line-height: .5em;
	  font-family: sans-serif;
		font-size: 70%;
		width: 140px;
	}

	input {
	  margin: .2em;
		width: 140px;
		display: block;
	}
	legend {
	  font-size: 1em;
	  line-height: 1.2em;
		width: 70%;
	}
	form {
	  width: 70%;
	  margin: auto;
	  padding: 1em;
	  border: solid 1px black;
	 }
	 fieldset {
		 width: 70%;
	 }
	 textarea {
		 width: 140px;
	 }
	/*TABLE LAYOUT*/
	table {
	  padding: .5em;
	  width: 85%;
	  margin: .5em auto;
		font-size: 58%;
	}
	tr, tbody, td {
	  margin: .5em;
	  line-height: 1.5em;
	  border: solid 1px black;
	}
	table td {
	  padding: .1em;
	  border: solid 1px black;
	  font-family: 'Old Standard TT', serif;
	}
	th {
		padding: .1em;
	  text-transform: uppercase;
	  line-height: 1.5em;
	  border: solid 1px black;
	}
}
